name: build

on:
  push:
    branches:
      - main
    tags:
      - v*.*.*

  pull_request:

env:
  OPENMLDB_REPO: 4paradigm/OpenMLDB
  OPENMLDB_REF: a8eccee718a90a793623567c9703709a43657059

jobs:
  thirdparty-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          - container: ghcr.io/aceforeverd/hybridsql-base:0.4.0
            flags: ""
            distro: centos
          - container: ubuntu:20.04
            flags: -DBUILD_ZOOKEEPER_PATCH=ON
            distro: ubuntu

    container:
      image: ${{ matrix.container }}
    env:
      MAKEOPTS: -j2
      DISTRO: ${{ matrix.distro }}

    steps:
      - uses: actions/checkout@v2

      - name: setup deps
        if: startsWith(matrix.container, 'ubuntu')
        run: |
          apt update
          DEBIAN_FRONTEND=noninteractive apt-get install -y bison python3-dev libcppunit-dev build-essential cmake autoconf tcl pkg-config git curl patch libtool-bin
      - name: setup deps(centos)
        if: startsWith(matrix.container, 'ghcr')
        run: |
          yum install -y patch

      - name: download thirdparty source
        uses: actions/checkout@v2
        with:
          repository: ${{ env.OPENMLDB_REPO }}
          ref: ${{ env.OPENMLDB_REF }}
          path: openmldb

      - name: configure
        run: |
          cmake -S openmldb/third-party -B deps -DBUILD_BUNDLED=ON -DWITH_ZETASQL=OFF ${{ env.flags }}

      - name: build
        run: |
          cmake --build deps

      - name: create archive
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          ./pack_all.sh deps

      - name: Upload Artifact
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-artifact@v2
        with:
          path: deps/thirdparty-*.tar.gz

  thirdparty-darwin:
    runs-on: macos-latest
    env:
      MAKEOPTS: -j3

    steps:
      - uses: actions/checkout@v2
      - name: Xcode Select
        # You may pin to the exact commit or the version.
        # uses: devbotsxyz/xcode-select@05f94658217eb8575f0aabd3b95e702a47995d21
        uses: devbotsxyz/xcode-select@v1.1.0
        with:
          # Version to use (like '11.7', '12' or simply 'latest'), set lower than 12.1.1 to use SDK macosx10.15
          version: 12.1.1
          # Whether to select a beta release or not. Beta releases may not always be available.

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.9
        with:
          cmake-version: "3.20.x"

      - name: download thirdparty source
        uses: actions/checkout@v2
        with:
          repository: ${{ env.OPENMLDB_REPO }}
          ref: ${{ env.OPENMLDB_REF }}
          path: openmldb

      - name: Install System Dependencies
        # coreutils for nproc
        # gnu-getopt for brpc
        run: |
          brew install automake coreutils gnu-getopt

      - name: configure
        run: |
          cmake -S openmldb/third-party -B deps -DBUILD_BUNDLED=ON -DWITH_ZETASQL=OFF ${{ env.flags }}

      - name: build
        run: |
          cmake --build deps

      - name: create archive
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          ./pack_all.sh deps

      - name: Upload Artifact
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-artifact@v2
        with:
          path: deps/thirdparty-*.tar.gz

  release:
    runs-on: ubuntu-latest
    needs: ["thirdparty-linux", "thirdparty-darwin"]
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v2

      - name: Download Artifacts
        uses: actions/download-artifact@v2

      - name: generate signature
        working-directory: artifact
        run: |
          sha256sum third*.tar.gz > SHA256SUM

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            artifact/thirdparty*.tar.gz
            artifact/SHA256SUM
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
